<!doctype html>


<head>
    <meta charset="UTF-8">
    <title>Focus</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
      <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">     
      <link rel="stylesheet" href="./style.css">
  </head>
    <body>
        <p style="text-align:center;"><img src="{{ url_for('video_feed') }}"></p>
        <form action="/">
            <input type="submit" value="Close" />
        </form>

        <body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  offset-lg-2">
                        <div hx-get="/counts" hx-trigger="every 0.1s"></div>
                        <h3 class="mt-5">Focusing</h3>
                    </div>
                </div>
            </div>
        </body>

    </body>